<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212972516117-851pbvmbgf8ovab8vi4f8jnddid47g6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212972516117-851pbvmbgf8ovab8vi4f8jnddid47g6h</string>
	<key>API_KEY</key>
	<string>AIzaSyAExI8FvoFrKw_5MZWC91nU0EA539jG7ac</string>
	<key>GCM_SENDER_ID</key>
	<string>212972516117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelsongonzalez.PhoneAuthSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-17dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-17dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212972516117:ios:101fe07d0e6b396516ef1c</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauth-17dfc.firebaseio.com</string>
</dict>
</plist>